In [21]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import ast

In [22]:
dataframe = pd.read_csv("../Data/data.csv")

In [23]:
dataframe.describe()

,EndOfLifeFramework,ForFrequency,IfFrequency,ForEachFrequency,WhileFrequency,CodeLines,CommentLines,MethodNumber,ClassNumber,InterfaceNumber,InheritanceDeclarations,InheritanceDepth,HttpClientCalls,UsingsNumber
count,506.000000,506.000000,506.000000,506.000000,506.000000,5.060000e+02,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,5.060000e+02,506.000000
mean,4.059289,28.185771,797.958498,85.480237,14.371542,3.038194e+04,4920.847826,618.160079,326.466403,14.132411,181.025692,1.646245,2.242401e+03,902.695652
std,7.048941,137.026719,3265.645077,324.706912,60.224401,1.620877e+05,34944.817084,2028.716248,937.602696,33.621543,590.963604,1.031847,4.969869e+04,2579.989246
min,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000e+01,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,-1.000000e+00,0.000000
25%,0.000000,0.000000,14.000000,1.000000,0.000000,1.132250e+03,33.250000,30.250000,29.250000,1.000000,13.000000,1.000000,0.000000e+00,91.750000
50%,1.000000,0.000000,52.000000,6.000000,0.000000,3.230500e+03,138.000000,77.500000,79.000000,5.000000,39.000000,1.000000,0.000000e+00,242.500000
75%,5.000000,4.000000,206.750000,26.750000,3.000000,1.194575e+04,1044.750000,264.250000,212.500000,11.750000,110.000000,2.000000,1.750000e+00,646.750000
max,66.000000,1518.000000,35665.000000,3762.000000,757.000000,2.969367e+06,723961.000000,26570.000000,11503.000000,288.000000,7907.000000,9.000000,1.117948e+06,31467.000000

In [24]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Project_ID               506 non-null    object
 1   EndOfLifeFramework       506 non-null    int64
 2   ForFrequency             506 non-null    int64
 3   IfFrequency              506 non-null    int64
 4   ForEachFrequency         506 non-null    int64
 5   WhileFrequency           506 non-null    int64
 6   CodeLines                506 non-null    int64
 7   CommentLines             506 non-null    int64
 8   MethodNumber             506 non-null    int64
 9   ClassNumber              506 non-null    int64
 10  InterfaceNumber          506 non-null    int64
 11  InheritanceDeclarations  506 non-null    int64
 12  InheritanceDepth         506 non-null    int64
 13  ExternalAPICalls         506 non-null    object
 14  HttpClientCalls          506 non-null    int64
 15  CodeDuplication          506 non-null    object
 16  UsingsNumber             506 non-null    int64
 17  ClassCouplingListing     506 non-null    object
dtypes: int64(14), object(4)
memory usage: 71.3+ KB

In [25]:
dataframe.describe()

,EndOfLifeFramework,ForFrequency,IfFrequency,ForEachFrequency,WhileFrequency,CodeLines,CommentLines,MethodNumber,ClassNumber,InterfaceNumber,InheritanceDeclarations,InheritanceDepth,HttpClientCalls,UsingsNumber
count,506.000000,506.000000,506.000000,506.000000,506.000000,5.060000e+02,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,5.060000e+02,506.000000
mean,4.059289,28.185771,797.958498,85.480237,14.371542,3.038194e+04,4920.847826,618.160079,326.466403,14.132411,181.025692,1.646245,2.242401e+03,902.695652
std,7.048941,137.026719,3265.645077,324.706912,60.224401,1.620877e+05,34944.817084,2028.716248,937.602696,33.621543,590.963604,1.031847,4.969869e+04,2579.989246
min,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000e+01,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,-1.000000e+00,0.000000
25%,0.000000,0.000000,14.000000,1.000000,0.000000,1.132250e+03,33.250000,30.250000,29.250000,1.000000,13.000000,1.000000,0.000000e+00,91.750000
50%,1.000000,0.000000,52.000000,6.000000,0.000000,3.230500e+03,138.000000,77.500000,79.000000,5.000000,39.000000,1.000000,0.000000e+00,242.500000
75%,5.000000,4.000000,206.750000,26.750000,3.000000,1.194575e+04,1044.750000,264.250000,212.500000,11.750000,110.000000,2.000000,1.750000e+00,646.750000
max,66.000000,1518.000000,35665.000000,3762.000000,757.000000,2.969367e+06,723961.000000,26570.000000,11503.000000,288.000000,7907.000000,9.000000,1.117948e+06,31467.000000

# Data Exploration

In [26]:
dfcopy = dataframe.copy()

In [27]:
def global_boundaries(data):
    global_max = 0
    global_min = 9999

    for row in data:
        row_list = ast.literal_eval(row)
        row_number = [int(x) for x in row_list]
        row_max = np.max(row_number)
        row_min = np.min(row_number)
        if row_max > global_max:
            global_max = row_max
        if row_min < global_min:
            global_min = row_min

    return global_max, global_min


print(global_boundaries(dfcopy['ClassCouplingListing']))
print(global_boundaries(dfcopy['CodeDuplication']))

(6857, 0)
(100, 0)

In [28]:
# binning the values in CodeDuplication and ClassCouplingListing 
duplicationBoundaries = np.linspace(0, 50, 5)
duplicationBoundaries[-1] = np.inf
print(duplicationBoundaries)
class_coupling_listings = np.linspace(0, 300, 5)
class_coupling_listings[-1] = np.inf
class_coupling_listings_rounded = np.round(class_coupling_listings)
print(class_coupling_listings_rounded)

[ 0.  12.5 25.  37.5  inf]
[  0.  75. 150. 225.  inf]

For CodeDuplication and ClassCouplingListing, bins were made, the last bin contains all values between the previous and infinity such that all data is grouped

In [29]:
def boundaries_splitting(column, boundaries, column_name):
    column = column.apply(lambda x: np.array([float(value) for value in x.strip('[]').split(',')]))
    for i in range(len(boundaries) - 1):
        bin_name = f'{column_name}_{boundaries[i]}_{boundaries[i + 1]}'
        dfcopy[bin_name] = column.apply(
            lambda x: sum(boundaries[i] <= value < boundaries[i + 1] for value in np.atleast_1d(x)))

In [30]:
boundaries_splitting(dfcopy['CodeDuplication'], duplicationBoundaries, column_name='CodeDuplication')
boundaries_splitting(dfcopy['ClassCouplingListing'], class_coupling_listings_rounded,
                     column_name='ClassCouplingListing')

In [31]:
dfcopy.head(20)

,Project_ID,EndOfLifeFramework,ForFrequency,IfFrequency,ForEachFrequency,WhileFrequency,CodeLines,CommentLines,MethodNumber,ClassNumber,...,UsingsNumber,ClassCouplingListing,CodeDuplication_0.0_12.5,CodeDuplication_12.5_25.0,CodeDuplication_25.0_37.5,CodeDuplication_37.5_inf,ClassCouplingListing_0.0_75.0,ClassCouplingListing_75.0_150.0,ClassCouplingListing_150.0_225.0,ClassCouplingListing_225.0_inf
0,1c3ff27b-f3a2-4a3d-a1ed-08ab3b314d91,1,0,54,2,0,1622,188,48,42,...,104,"[0, 1, 8, 1, 34, 17, 4, 16, 6, 65, 2, 46, 6, 1...",271,113,29,13,22,0,0,0
1,c429ecce-c898-45d9-962a-44c3d6ddf0ef,0,89,10462,1279,47,279209,79805,4271,2105,...,8186,"[8, 2, 54, 6, 7, 7, 3, 13, 8, 9, 65, 13, 19, 1...",1250,1250,1250,3735,1687,59,14,11
2,b0c370ee-fbe8-4f95-a8eb-6fe3d188a752,1,0,70,10,0,2994,234,80,83,...,281,"[2, 58, 24, 5, 5, 1, 4, 7, 2, 2, 3, 16, 27, 3,...",1035,279,85,58,76,0,0,0
3,875f41f0-bdc5-4dc1-bced-f479a5370838,3,0,44,2,0,1127,26,44,22,...,111,"[9, 7, 0, 5, 9, 4, 6, 6, 5, 18, 23, 23, 2, 3, ...",217,30,4,9,22,0,0,0
4,b2fe1aee-78d2-4ed6-b40f-b3d251a8094f,0,43,1436,221,12,48445,15445,1436,617,...,1802,"[20, 17, 11, 113, 22, 12, 6, 20, 12, 7, 9, 15,...",1250,1199,664,495,521,5,1,0
5,cf2a4a89-2aea-4dea-adcb-f7ff69fbb0a0,1,0,54,2,0,1622,188,48,42,...,104,"[0, 1, 8, 1, 34, 17, 4, 16, 6, 65, 2, 46, 6, 1...",271,113,29,13,22,0,0,0
6,5735d47b-0a1d-49d6-868c-4c5b4b069fb9,1,0,8,0,0,544,127,23,21,...,64,"[3, 25, 47, 11, 21, 10, 5, 2, 3, 5, 10, 10, 5,...",215,70,11,13,14,0,0,0
7,18c5e275-150f-4af0-9632-4b6ea4b75d61,1,0,1,0,0,420,5,22,14,...,67,"[3, 15, 5, 3, 5, 5, 7, 14, 14, 0, 0, 0, 6, 1]",255,121,26,66,14,0,0,0
8,3951c070-27ea-42ee-8492-f79fafc7c615,0,92,4444,496,131,79406,24703,2034,1332,...,254,"[25, 3, 1, 8, 5, 5, 14, 4, 17, 119, 48, 39, 10...",1250,1238,979,1058,718,13,2,3
9,414fef2f-5665-4dc5-8ec2-aa3a209b9afa,0,0,39,6,0,3248,49,63,85,...,108,"[6, 13, 9, 14, 11, 10, 0, 5, 9, 2, 6, 3, 4, 6,...",894,173,43,56,78,0,0,0
10,59c1c813-4501-48f9-881f-ff41fdfbed2e,0,266,5455,338,49,145152,17597,5169,1067,...,2772,"[98, 24, 23, 30, 43, 34, 23, 44, 27, 27, 28, 2...",1250,1240,934,556,739,23,6,4
11,ddbfb7a6-0dad-4faa-a5b9-2f5cd0fb7975,0,198,8407,765,110,191883,39542,3927,1608,...,9751,"[4, 3, 3, 3, 52, 2, 3, 3, 6, 6, 5, 17, 12, 28,...",1250,1250,1247,2278,1459,46,7,1
12,e4a1dfa4-d5a3-47e0-ae8f-27fc528e20b6,0,0,9,0,0,613,0,18,35,...,70,"[1, 1, 1, 1, 2, 2, 3, 1, 14, 2, 5, 4, 4, 5, 4,...",893,233,54,74,35,0,0,0
13,1a4a2aa5-c4ad-4d42-86ee-3b1b13509878,0,0,22,6,0,1053,30,60,38,...,50,"[7, 1, 12, 5, 2, 9, 9, 3, 1, 5, 2, 16, 3, 8, 2...",729,269,65,80,38,0,0,0
14,cf324f59-381d-470b-901f-0fc0c885aef1,0,4,58,0,2,1876,344,55,3,...,25,"[38, 42, 415]",46,2,5,5,2,0,0,1
15,b09d5b66-78b7-468e-9ec1-96e0f71db60f,0,62,3776,265,50,75521,7711,2311,835,...,2219,"[162, 30, 51, 42, 10, 17, 15, 13, 11, 9, 9, 14...",1250,1249,1036,790,629,12,4,0
16,bc9fd71a-cb2d-40b3-b0ab-8b84f3adc9f9,0,0,39,6,0,3248,49,63,85,...,108,"[6, 13, 9, 14, 11, 10, 0, 5, 9, 2, 6, 3, 4, 6,...",894,173,43,56,78,0,0,0
17,99c7c617-f3ad-406b-a165-f7d578f2cb1c,0,0,43,5,0,1927,189,53,86,...,172,"[10, 0, 3, 12, 2, 2, 5, 6, 1, 2, 1, 8, 3, 2, 2...",1125,446,142,110,85,0,0,0
18,653a2d0f-15d7-4f68-ab2e-cae940f2c0a2,1,19,1013,88,6,25940,1035,930,435,...,1661,"[1, 5, 42, 0, 12, 46, 0, 39, 0, 44, 0, 79, 4, ...",1238,704,195,174,313,2,0,0
19,15e4012a-981b-41ba-873a-e51dde9f3d9f,0,126,7761,1368,121,196424,13861,9579,3962,...,14738,"[7, 87, 18, 7, 13, 5, 11, 3, 3, 3, 4, 2, 9, 6,...",1250,1250,1250,3493,3215,21,1,0